{{ attach_library('search_log/search-log-report') }}

<div class="search-log-filter">
{{ filters }}
</div>  
<div class="search-log-results">
<fieldset class="summary">
  <legend>
   Report results
  </legend>
  <div class="fieldset-wrapper">
   {{ summary }}
  </div>
</fieldset>
</div>

